{% extends "home/wrapper.html" %}

{% block title %}Privacy Policy - Aristoph{% endblock %}

{% block stylesheets %}
    <style>
        .iub_container {
            margin-top: 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <a href="#"
           class="iubenda-nostyle no-brand iubenda-embed iub-body-embed" title="Privacy Policy">Privacy Policy</a>
        <script type="text/javascript">(function (w, d) {
            var loader = function () {
                var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                s.src = "https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s, tag);
            };
            if (w.addEventListener) {
                w.addEventListener("load", loader, false);
            } else if (w.attachEvent) {
                w.attachEvent("onload", loader);
            } else {
                w.onload = loader;
            }
        })(window, document);</script>
    </div>
{% endblock %}
