{% extends "home/wrapper.html" %}

{% block title %}Importa utenti - Aristoph{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-3">Importa utenti</h2>
        <hr class="mb-4">
        <form method="post" action="{% url 'account:import_users' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="data">Dati CSV</label>
                <textarea class="form-control" id="data" name="data" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">
                Importa
            </button>
        </form>
    </div>
{% endblock %}